.wave {
  background-image: url(@/assets/images/Waving-hand.png);
  background-size: cover;
  display: inline-block;
  margin-bottom: -10px;
  margin-right: -20px;
  height: 50px;
  width: 50px;
}
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
  font-family: "Work Sans", sans-serif !important;
}

.green-underline {
  position: relative;
  display: inline;
  img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
  }

  span {
    position: relative;
    z-index: 1;
  }
}

.line-around {
  position: relative;
  display: inline-block;
  img {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;
      width: calc(100% + 10px);
    }
  
    span {
      display: inline-block;
      position: relative;
      z-index: 1;
    }
}

@keyframes floats {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes floats2 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-5px,);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }
  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0.0deg)
  }
}